*.template
build/
*.tar.gz
bin/
*.log
*.bin
*.jpg
FAR/
FRR/
detectFail/
validation/
libfrvt_11_*_???.so
*.gpg
*_.txt
11/paticipantFingerprint.txt
11/validateScore.txt
11/config/#38_asian_multi_task_10.xml
11/config/face-detection-retail-0004.xml
11/config/facial-landmarks-35-adas-0001.xml
11/config/geo_vision_5_face_landmarks.dat
11/config/09-02_02-45.pb
11/lib/
*.so
*.ppm
11/input
11/pnas
*.txt
11/GIboxPlot.png
11/NISTplot.ipynb
11/.ipynb_checkpoints/NISTplot-checkpoint.ipynb
11/config/123/09-02_02-45.pb
11/input/enroll.txt
11/input/match.txt
11/input/verif.txt
11/src/nullImpl/.ipynb_checkpoints/GVimplfrvt11-checkpoint.cpp
